@import "variables";
@import "pages/account";
@import "pages/admin";
@import "pages/application";
@import "pages/footer";
@import "pages/index";
@import "pages/login";
@import "pages/register";
@import "pages/signup";

body {
  font-weight: 300;
}

.select2-container {
  height: 38px;

  .select2-choice.select2-default {
    box-shadow: none;
    height: 38px;
    font-size: 16px;
  }

  .select2-choice {
    height: 38px;
    font-size: 16px;
    box-shadow: none;
  }
}
