<div id="index" class="container-fluid">
  <div class="index-wrapper col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
    <div class="col-xs-6 signup">
      {{#link-to "signup" class="btn btn-lg btn-block btn-primary-outline"}}
        Create an account
      {{/link-to}}
    </div>
    <div class="col-xs-6 login">
      {{#link-to "login" class="btn btn-lg btn-block btn-primary-outline"}}
        Login
      {{/link-to}}
    </div>
  </div>
</div>
