<div id="application">
  <nav class="application-navbar navbar navbar-light">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#application-navbar">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="application-navbar">
      <div class="container">
        <a class="navbar-brand" href="#">Coerver Colorado</a>
        <ul class="nav navbar-nav">
          {{#link-to "register" class="nav-item"}}
            <a class="nav-link" href="#">Register</a> 
          {{/link-to}}
        </ul>
        <ul class="nav navbar-nav pull-right">
          {{#if account.isLoggedIn}}
            {{#link-to "account" class="nav-item"}}
              <a class="nav-link" href="#">{{account.currentUser.firstName}}</a>
            {{/link-to}}
            <li class="nav-item" {{action "logout"}}>
              <a class="nav-link" href="#">Logout</a>
            </li>
          {{else}}
            {{#link-to "login" class="nav-item"}}
              <a class="nav-link" href="#">Login</a>
            {{/link-to}}
            {{#link-to "signup" class="nav-item"}}
              <a class="nav-link" href="#">Signup</a>
            {{/link-to}}
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      {{outlet}}
    </div>
  </div>
  <footer class="container-fluid">
    <div class="text-center p-a">
      <span class="text-muted"><i class="fa fa-copyright"></i>&nbsp; Coerver Colorado</span>
    </div>
  </footer>
</div>
