<div class="account-players">
  {{#each model as |player|}}
    <div class="player">

    </div>
  {{else}}
    <p>You don't have any players under your account. Search for the player's last name and birthday, or add a new one with the form below</p>
  {{/each}}
</div>

{{outlet}}
