#signup {
  .signup-cover {
    border-bottom: 1px solid $border;

    img {
      width: 100%;
    }
  }

  .signup-nav {
    margin-top: -41px;
    position: absolute;

    .nav-item {
      .nav-link.active {
        color: #0275d8;
      }

      .nav-link {
        color: white;
      }
    }
  }
}
